* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

.main-button{
    background-color: #17a5f8;
    color: #f5f5f5;
    padding: 20px;
    border: 0;
    border-radius: 15px;
    font-size:20px;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

}
.main-button:hover {
    background-color: #276bfd;
    transform: scale(1.05);


}