body {
background-color: #dfdfdf ;
}
.Main-title {
     color: #00418b;
     font-size: 50px;
     
 }
 .job-title {

    color:#000000;
    background-color: #008bad;
 }

 #high {

    color:#00418b ;
    font-size: 35px;
 }

 .Contact {

background-color:#008bad ;
color: #383838;
font-size: 40px;
 }
 .rodape {

    background:#0a586b ;
 }








